# TUPLE

In [5]:
tup = ('Kathmandu', 'Pokhara', 'Dharan', 'Kathmandu', 'Janakpur', 'Biratnagar')
type(tup)

tuple

In [24]:
#Another way of creating tuple using inbuilt tuple function
tup1 = tuple(('Kathmandu', 'Pokhara', 'Dharan', 'Kathmandu', 'Janakpur', 'Biratnagar'))
type(tup1)

tuple

In [7]:
print(tup)

('Kathmandu', 'Pokhara', 'Dharan', 'Kathmandu', 'Janakpur', 'Biratnagar')

# TUPLE IS INDEXED

In [10]:
tup[1]

'Pokhara'

In [12]:
tup[-2]

'Janakpur'

In [28]:
tup[2:-2]

('Dharan', 'Kathmandu')

In [18]:
# Check length of Tuple
len(tup)

6

In [30]:
for i in tup:
    print(i)

Kathmandu
Pokhara
Dharan
Kathmandu
Janakpur
Biratnagar

# Tuple is immutable

In [37]:
# We cannot sort Tuple like list

# tup [1] = 'Test'

In [49]:
li = list(tup)
type(li)

list

In [51]:
li

['Kathmandu', 'Pokhara', 'Dharan', 'Kathmandu', 'Janakpur', 'Biratnagar']

In [53]:
li.append('Dhangadi')

In [55]:
li

['Kathmandu',
 'Pokhara',
 'Dharan',
 'Kathmandu',
 'Janakpur',
 'Biratnagar',
 'Dhangadi']

In [57]:
tup = li
print(tup)

['Kathmandu', 'Pokhara', 'Dharan', 'Kathmandu', 'Janakpur', 'Biratnagar', 'Dhangadi']

In [75]:
tup=tuple(tup)
type(tup)

tuple

In [79]:
city=('Chitwan','Hetauda')
city=city+tup
print(city)

('Chitwan', 'Hetauda', 'Kathmandu', 'Pokhara', 'Dharan', 'Kathmandu', 'Janakpur', 'Biratnagar', 'Dhangadi')

In [84]:
type(city)

tuple

# unpack

In [102]:
#Assign tuple with values

(Chitwan, Hetauda, Kathmandu, Pokhara, Dharan, Kathmandu, Janakpur, Biratnagar, Dhangadi) = ('1','2','3','4','5','6','7','8','9')

In [104]:
Chitwan

'1'

In [106]:
(Chitwan, *Hetauda) = ('1','2','3','4','5','6','7','8','9')

In [108]:
Hetauda

['2', '3', '4', '5', '6', '7', '8', '9']

# LOOPING IN TUPLE

In [112]:
for i in tup:
    print(i)

Kathmandu
Pokhara
Dharan
Kathmandu
Janakpur
Biratnagar
Dhangadi

In [114]:
for i in range(len(tup)):
    print(tup[i])

Kathmandu
Pokhara
Dharan
Kathmandu
Janakpur
Biratnagar
Dhangadi

In [116]:
for i in range(len(tup)):
    print(i)

0
1
2
3
4
5
6

In [118]:
for i in range(2):
    print(tup[i])

Kathmandu
Pokhara

In [120]:
a = []
for i in range(5):
    a.append(tup[i])
    print(a)

['Kathmandu']
['Kathmandu', 'Pokhara']
['Kathmandu', 'Pokhara', 'Dharan']
['Kathmandu', 'Pokhara', 'Dharan', 'Kathmandu']
['Kathmandu', 'Pokhara', 'Dharan', 'Kathmandu', 'Janakpur']

In [122]:
print(tup*3)

('Kathmandu', 'Pokhara', 'Dharan', 'Kathmandu', 'Janakpur', 'Biratnagar', 'Dhangadi', 'Kathmandu', 'Pokhara', 'Dharan', 'Kathmandu', 'Janakpur', 'Biratnagar', 'Dhangadi', 'Kathmandu', 'Pokhara', 'Dharan', 'Kathmandu', 'Janakpur', 'Biratnagar', 'Dhangadi')

# TUPLE METHODS

In [130]:
# Cannot sort tuple
#tuple.sort()

In [136]:
tup.count('Kathmandu')

2

In [138]:
tup.index('Kathmandu')

0

In [ ]:
# Index for Kathmandu is 0 and 4. But it shows 0. If we need to fetch 4 index, then need to use loop

In [140]:
tup

('Kathmandu',
 'Pokhara',
 'Dharan',
 'Kathmandu',
 'Janakpur',
 'Biratnagar',
 'Dhangadi')

# SET

In [149]:
# Does not allow duplicate value in SET. This is the difference between SET, TUPLE, LIST, DICTIONARY
a={24,45,66.78,90,90,24,45}
a

{24, 45, 66.78, 90}

In [151]:
# print function does not sort. Not sure why. But without, the result is sorted
a={24,45,66.78,90,90,24,45}
print(a)

{24, 66.78, 45, 90}

In [155]:
#Only gives unique value length
len(a)

4

# Access the element

In [158]:
# Cannot access using index
# a[0]

TypeError: 'set' object is not subscriptable

In [162]:
for i in a:
    print (i)

24
66.78
45
90

# VALUE ADDITION IN SET

In [169]:
a.add(1024)
a

{24, 45, 66.78, 90, 1024}

In [171]:
b={400,300,200,1050}
b

{200, 300, 400, 1050}

In [175]:
a.update(b)
a

{24, 45, 66.78, 90, 200, 300, 400, 1024, 1050}

In [179]:
#we cannot do a+b but we should update like above to extend the values of 2 set
#a+b

# REMOVE ELEMENT

In [183]:
a.remove(1050)
a

{24, 45, 66.78, 90, 200, 300, 400, 1024}

In [191]:
a.discard(1024)
a

{24, 45, 66.78, 90, 200, 300, 400}

In [193]:
a.pop()

66.78

In [195]:
a

{24, 45, 90, 200, 300, 400}

# DELETE AND CLEAR

In [198]:
a

{24, 45, 90, 200, 300, 400}

In [200]:
b

{200, 300, 400, 1050}

In [202]:
del a

In [204]:
b.clear()

In [206]:
b

set()

In [212]:
#Clear variable and everything from memory
#a

# JOINING IN SET

In [225]:
a = {24, 45, 90, 400}
b = {200, 300, 400, 1050}
c = (1,2,3,4,'hello')
a.union(b)

{24, 45, 90, 200, 300, 400, 1050}

In [219]:
a.intersection(b)

{400}

In [227]:
a.union(c)

{1, 2, 24, 3, 4, 400, 45, 90, 'hello'}

In [229]:
a.difference(b)

{24, 45, 90}

In [235]:
# or you can use
a-b

{24, 45, 90}

In [231]:
d=a.copy()
d

{24, 45, 90, 400}