# FUNCTIONS

In [4]:
# FUNCTION LIKE Y=MX+C

def add():
    print('The function is working')
add()

The function is working

In [6]:
def test(a,b,c,d,e):
    x=a+b-c
    y=x+d+e
    print(y)
test(45,60,70,10,10)

55

In [8]:
test(100,200,250,130,150)

330

# Argument and Parameter

In [13]:
def diff(x,y): #argument
    print(x-y)
diff(80,4) # parameter

76

### Function to pass any number of parameter using tuple

In [22]:
def test(*val):
    x=val[0]-val[1]
    y=x-val[2]+val[3]+val[4]
    print(y)
test(40,50,60,70,80)

80

In [18]:
def test(*val):
    print(val[0])
    print(val[1])
    print(val[2])
test(40,50,60)

40
50
60

In [33]:
#Set default value in parameter
def status(city='Kathmandu', name='udit', age=27):
    print(f'I live in {city}. I am {name} and my age is {age}')
status()

I live in Kathmandu. I am udit and my age is 27

In [30]:
status('Birgunj', 'Hari', 30)

I live in Birgunj. I am Hari and my age is 30

In [35]:
status('Birgunj', 'Hari')

I live in Birgunj. I am Hari and my age is 27

In [43]:
# example where we pass parameter randomly without in sequence
def status(city, name, age=27):
    print(f'I live in {city}. I am {name} and my age is {age}')
status(name='Ramu',city='Jhapa')

I live in Jhapa. I am Ramu and my age is 27

### Function to pass any number of parameter using dictionary

In [49]:
def test(**val):
    print(val['name'],val['age'],val['city'])
test(name='udit',age=27, city='Kathmandu')

udit 27 Kathmandu

In [51]:
def test(**val):
    print(val['name'],val['age'],val['city'])
test(name='udit',age=27, city='Kathmandu',hobbies='Hiking')

udit 27 Kathmandu

In [59]:
def test1(*args):
    for i in args:
        print(i)
test1(1,2,3)

1
2
3

In [61]:
test1(1,2,3,4)

1
2
3
4

In [67]:
def test2(**args):
    for i in args:
        print(i)
test2(name='udit',age=27, city='Kathmandu',hobbies='Hiking')

name
age
city
hobbies

In [69]:
test2(name='udit',age=27, city='Kathmandu',hobbies='Hiking', wife='none')

name
age
city
hobbies
wife

In [77]:
def test3(**args):
    for i,j in args.items():
        print(i,j)
test3(name='udit',age=27, city='Kathmandu',hobbies='Hiking')

name udit
age 27
city Kathmandu
hobbies Hiking

In [81]:
dic={'name':'Udit', 'age':30, 'city':'Butwal'}
for i in dic:
    print(i)

name
age
city

In [85]:
dic={'name':'Udit', 'age':30, 'city':'Butwal'}
for i,j in dic.items():
    print(f'The key is {i} and the value is {j}')

The key is name and the value is Udit
The key is age and the value is 30
The key is city and the value is Butwal

In [90]:
# Write a program to calculate the simple interest
def inte_pro(p,t,r):
    i = (p*t*r)/100
    print(f'Your interest is {i}')
p=(int(input('Enter the principal amount in NPR: ')))
r=(int(input('Enter the yearly rate of interest: ')))
t=(int(input('Enter the time in year: ')))
inte_pro(p,t,r)

Enter the principal amount in NPR:  100
Enter the yearly rate of interest:  10
Enter the time in year:  1

Your interest is 10.0

In [2]:
#homework

#Install Git using youtube video https://www.youtube.com/watch?v=AdzKzlp66sQ&t=984s
#Write a Python function greet(name) that takes a name as an argument and prints a greeting message.
#Write a function factorial(n) to calculate the factorial of a number using recursion.
#Create a function is_even(num) that returns True if the given number is even, otherwise False.
#Write a function find_max(lst) that takes a list of numbers and returns the largest number in the list.
#Write a function reverse_string(s) that takes a string and returns the reversed version of the string.